<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Dansa" version="1.3.0" viewmodes="maximized">
    <tizen:application id="8AEOJwlHGc.Dansa" package="8AEOJwlHGc" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name xml:lang="ru-ru">Танцуй !</name>
    <name>Dansa</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
